@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #e5e9f4;
  font-family: "sans-serif";
}

a {
  text-decoration: none;
}

@font-face {
  font-family: garet;
  src: url("/fonts/Garet-Heavy.ttf");
}
@font-face {
  font-family: ariel;
  src: url("/fonts/ARIEL.ttf");
}

.font-ariel {
  font-family: ariel;
}
.font-garet {
  font-family: garet;
}
